---
import '@fontsource/material-symbols-rounded';
import '@fontsource/yeseva-one';
import { getImage } from 'astro:assets';

import ogImage from '../assets/img/og.png';
import { getNoiseDarkSrc, getNoiseLightSrc } from '../assets/optimized/noise';
import Noise from '../components/Noise.astro';
import SEO from '../components/SEO.astro';
import SkipToMain from '../components/SkipToMain.astro';
import ThirdPartyConfig from '../components/ThirdPartyConfig.astro';
import { CANONICAL_URL, SITE_BASE_URL, TWITTER_HANDLE } from '../env';
import { getLangFromUrl, useMetaTranslations } from '../i18n/utils';
import GlobalStyles from './GlobalStyles.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const m = useMetaTranslations(lang);

const ogImageOpt = await getImage({ src: ogImage });

const [noiseLightSrc, noiseDarkSrc] = await Promise.all([getNoiseLightSrc(), getNoiseDarkSrc()]);
---

<script>
  import { heyAsciiArt } from '@/assets/ascii-art/hey';
  import { addWordListener } from '@/helpers/wordListener.helper';

  addWordListener('matrix', () => {
    document.body.style.fontFamily = 'monospace';
    const style = document.createElement('style');
    style.textContent = `* { color: #86EFAC; }`;
    document.head.appendChild(style);
  });

  console.info(heyAsciiArt);
</script>

<html lang={lang} class="relative">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" fetchpriority="high" as="image" type="image/webp" href={noiseLightSrc} />
    <link rel="preload" fetchpriority="high" as="image" type="image/webp" href={noiseDarkSrc} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={title}
      description={m('description')}
      ogImage={`${SITE_BASE_URL}${ogImageOpt.src}`}
      twitterHandle={TWITTER_HANDLE}
      canonical={CANONICAL_URL}
    />
    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-white max-w-4xl mx-auto min-h-[100vh] p-8">
    <GlobalStyles />
    <SkipToMain />
    <Noise />
    <header class="mb-14 sm:mb-14 w-full flex justify-between">
      <a href="/">
        <h1 class="font-serif text-[42px] text-black dark:text-green-300">Vitor Sanches</h1>
      </a>
    </header>
    <main id="main">
      <slot />
    </main>

    <ThirdPartyConfig />
  </body>
</html>
